<template name="componentsTiles">
        {{> pageHeader }}
        {{> breadcrumbs }}
        <div class="row-fluid">
            <div class="span12">
                <ul class="tiles">
                    <li class="orange high long">
                        <a href="#"><span class='count'><i class="icon-shopping-cart"></i> 8</span><span class='name'>New orders</span></a>
                    </li>
                    <li class="blue">
                        <a href="#"><span><i class="icon-phone"></i></span><span class='name'>Phone</span></a>
                    </li>
                    <li class="red">
                        <a href="#"><span class='count'><i class="icon-envelope"></i> 1</span><span class='name'>Mails</span></a>
                    </li>
                    <li class="lime">
                        <a href="#"><span class='count'><i class="icon-comment"></i> 4</span><span class='name'>Comments</span></a>
                    </li>
                    <li class="image">
                        <a href="#"><img src="/img/demo/user-1.jpg" alt=""><span class='name'>Jane Doe</span></a>
                    </li>
                    <li class="blue long">
                        <a href="#"><span class='nopadding'><h5>@au5t1nr1va5</h5><p>I really hate twitter</p></span><span class='name'><i class="icon-twitter"></i><span class="right">1min ago</span></span></a>
                    </li>
                    <li class="green long">
                        <a href="#"><span><i class="icon-globe"></i></span><span class='name'>User regions</span></a>
                    </li>
                    <li class="brown">
                        <a href="#"><span class='count'><i class="icon-bolt"></i> 3</span><span class='name'>Warnings</span></a>
                    </li>
                    <li class="teal long">
                        <a href="#"><span class='count'><i class="icon-cloud-upload"></i> 12</span><span class='name'>New uploads</span></a>
                    </li>
                    <li class="blue">
                        <a href="#"><span><i class="icon-cogs"></i></span><span class='name'>Settings</span></a>
                    </li>
                    <li class="magenta">
                        <a href="#"><span><i class="icon-star"></i></span><span class='name'>Ratings</span></a>
                    </li>
                    <li class="pink long">
                        <a href="#"><span><i class="icon-money"></i></span><span class='name'>Balance</span></a>
                    </li>
                    <li class="blue">
                        <a href="#"><span><i class="icon-wrench"></i></span><span class='name'>Optimize site</span></a>
                    </li>
                    <li class="lime">
                        <a href="#"><span><i class="icon-dashboard"></i></span><span class='name'>Dashboard</span></a>
                    </li>
                    <li class="orange">
                        <a href="#"><span><i class="icon-signout"></i></span><span class='name'>Sign out</span></a>
                    </li>
                    <li class="red long">
                        <a href="#"><span><i class="icon-eye-open"></i></span><span class='name'>Preview changes</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="box box-color box-bordered">
                    <div class="box-title">
                        <h3>
                            <i class="icon-th-large"></i>
                            More tiles
                        </h3>
                    </div>
                    <div class="box-content">
                        <ul class="minitiles">
                            <li class='teal'>
                                <a href="#"><i class="icon-inbox"></i></a>
                            </li>
                            <li class='red'>
                                <a href="#"><i class="icon-cogs"></i></a>
                            </li>
                            <li class='lime'>
                                <a href="#"><i class="icon-globe"></i></a>
                            </li>
                        </ul>
                        <ul class="stats">
                            <li class='blue'>
                                <i class="icon-shopping-cart"></i>
                                <div class="details">
                                    <span class="big">175</span>
                                    <span>New orders</span>
                                </div>
                            </li>
                            <li class='green'>
                                <i class="icon-money"></i>
                                <div class="details">
                                    <span class="big">$324,12</span>
                                    <span>Balance</span>
                                </div>
                            </li>
                            <li class='orange'>
                                <i class="icon-calendar"></i>
                                <div class="details">
                                    <span class="big">February 22, 2013</span>
                                    <span>Wednesday, 13:56</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</template>
